{% extends "base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Home Page{% endblock %}


</head>
{% block content %}
<div class="main_content">

    <h1>Recent Games<br><br></h1>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Home Score&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>Away Score</th>
            </tr>
        </thead>
        <tbody>
            {% for game in recent_games %}
            <tr>
                <td>{{ game.date }}&nbsp;&nbsp;&nbsp;</td>
                <td>{{ game.home_team }}&nbsp;&nbsp;&nbsp;</td>
                <td>{{ game.away_team }}&nbsp;&nbsp;&nbsp;</td>
                <td>{{ game.home_score }}&nbsp;&nbsp;&nbsp;</td>
                <td>{{ game.away_score }}&nbsp;&nbsp;&nbsp;</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



    <div class="welcome_message">
    {% if user.is_authenticated %}
        <br><br>Welcome, {{ user.first_name }} {{ user.last_name }}
    {% endif %}
</div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <h2 class = "homepage_videocaption"> Featured Video:<br><br> </h2>
                <!-- Embed YouTube video -->
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/s_q3CcJQMa8?si=_2pRgqWXUBePhc5I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>


</div>
{% endblock %}
</html>