<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .nav-links {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: center;
        }
        .nav-links li {
            display: inline;
            margin-right: 10px;
        }
        .nav-links li:last-child {
            margin-right: 0;
        }
    </style>
</head>
<body>
    <ul class="nav-links">
        <li><a href="{% url 'divisions_page' %}">View Divisions</a></li>
        <li><a href="{% url 'teams_page' %}">View Teams</a></li>
        <li><a href="{% url 'games_page' %}">View Games</a></li>
        <li><a href="{% url 'players_page' %}">View Players</a></li>
        <li><a href="{% url 'standings_page' %}">View Standings</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <!-- Add more links as needed -->
    </ul>

    <h1>Recent Games</h1>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Home Score</th>
                <th>Away Score</th>
            </tr>
        </thead>
        <tbody>
            {% for game in recent_games %}
            <tr>
                <td>{{ game.date }}</td>
                <td>{{ game.home_team }}</td>
                <td>{{ game.away_team }}</td>
                <td>{{ game.home_score }}</td>
                <td>{{ game.away_score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <!-- Embed YouTube video -->
                <video controls width="100%" height="315">
                    <source src="https://www.youtube.com/embed/cuLprHh_BRg?si=-sGIb8MwVS635eRP" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>