{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Standings<br></title>
</head>
{% block content %}
<div class="main_content">
    <h1>Standings</h1>
    <table>
        <thead>
            <tr>
                <th>Team&nbsp;&nbsp;&nbsp;</th>
                <th>Wins&nbsp;&nbsp;&nbsp;</th>
                <th>Losses&nbsp;&nbsp;&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for standing in standings %}
            <tr>
                <td>{{ standing.team }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{ standing.wins }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{ standing.losses }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
</html>