{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Standings<br></title>
</head>
{% block content %}
<div class="standings">
    <h1>Standings<br><br></h1>
    <table>
        <thead>
        <tr>
        <th>Team&nbsp;&nbsp;&nbsp;</th>
        <th>Wins&nbsp;&nbsp;&nbsp;</th>
        <th>Losses&nbsp;&nbsp;&nbsp;</th>
        <th>Win %&nbsp;&nbsp;&nbsp;</th>
        <th>Conference&nbsp;&nbsp;&nbsp;</th>
        <th>Division&nbsp;&nbsp;&nbsp;</th>
        </tr>
        </thead>
        <tbody>
            {% for team in standings %}
                <tr class = "standings">
                    <td>{{ team.team_number }}.&nbsp;&nbsp;{{ team.team_city }} {{ team.team_name }}&nbsp;&nbsp;&nbsp;</td>
                    <td>{{ team.wins }}</td>
                    <td>{{ team.losses }}</td>
                    <td>{{ team.win_pct }}</td>
                    <td>{{ team.conference }}</td>
                <td>{{ team.division }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<br><br><br>
<a class="back-to-home" href="{% url 'landing_page' %}">Back to Home</a> <!-- Positioned at bottom left -->
</div>
<br>
{% endblock %}
</html>