{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
</head>
{% block content %}
<div class="main_content">
    <h1>Teams<br><br></h1>
    <ul>
        {% for team in teams %}
        <li><a href="{% url 'team_details' team.id %}">{{ team.name }}</a></li>
        {% endfor %}
    </ul>
<br><br>
<a class="back-to-home" href="{% url 'landing_page' %}">Back to Home</a> <!-- Positioned at bottom left -->
</div>
{% endblock %}
<br><br><br>
</html>